<% content_for :sidebar do %>
  <%= render "shared/taxonomies" %>
<% end %>

<% @taxons.each do |taxon| %>
  <div class="taxon">
    <h2><%= taxon.name %></h2>

    <%= render :partial => "shared/products", :locals => {:products => taxon_preview(taxon, 6), :taxon => taxon} %>
  </div>
<% end %>

<h1>–î–æ–±—Ä–æ –ø–æ–∂–∞–ª–æ–≤–∞—Ç—å –≤ –∏–Ω—Ç–µ—Ä–Ω–µ—Ç-–º–∞–≥–∞–∑–∏–Ω –Æ–Ω–∏–∫–∏–∫—Å!</h1>
<div>
    <a href="http://unikicks.ru/"><img src="/images/homepics/sorry" border="20px" alt="¬ÌËÏ‡ÌËÂ, ‚‡ÊÌ‡ˇ ËÌÙÓÏ‡ˆËˇ!" /></a></div>
<div>
<a href="/predzakaz"> <img src="/images/homepics/predzakaz.png" border="20px" alt="–ù–∞—à –∞—Å—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç" ></a> <a href="/map"><img src="/images/homepics/map.png" border="20px" alt="–°—Ö–µ–º–∞ –ø—Ä–æ–µ–∑–¥–∞" >
</div>
<script type="text/javascript" src="http://userapi.com/js/api/openapi.js?48"></script>

<!-- VK Widget -->
<div id="vk_groups"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 2, width: "700", height: "350"}, 28564277);
</script>
<p><a href="http://twitter.com/unikicks"><img src="http://unikicks.ru/images/social/twitter_64.png"></a>
<a href="http://vkontakte.ru/unikicks"><img src="http://unikicks.ru/images/homepics/vkontakte_64.png"></a>
<a href="http://www.facebook.com/pages/Unikicks/126650674093416"><img src="http://unikicks.ru/images/social/facebook_64.png"></a></p>